<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-cookies.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/jquery-3.3.1.min.js"></script>

    <script src="app.js"></script>
    <script src="IndexController.js"></script>
    <link rel="stylesheet" type="text/css" href="Style/main.css" />
</head>

<body ng-app="app" ng-controller="IndexController">


    <div class="container">
        <div class="innerContainer">
          

            <form name="form" action="" ng-submit="">
                <input type="text" name="firstname" placeholder="Username" ng-model="loginModel.username" />
                <br />
                <input type="text" name="lastname" placeholder="Password" ng-model="loginModel.password"/>
                <br />
            </form>

            <div class="indexButtons">
                <ul>
                    <li>
                        <div class="loginButton" ng-click="login()">
                            LogIn
                        </div>
                    </li>

                    <li>
                        <div class="registerButton" ng-click="register()">
                            Register
                        </div>
                    </li>
                </ul>
            </div>
            <div class="errorMessage" style=" color:red;margin:auto; text-align:center;"> {{loginModel.error}}</div>
        </div>
    </div>


</body>
</html>
